.map {
  height: 400px;
  width: 100%;

}

select, button {
  margin: 5px;
  font-size: 16px;
  padding: 10px;
}

.TitleText {
  color: #555;
  text-align: center;
  font-size: 1.5em;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: black;
  text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
  font-weight: 900;
  filter: drop-shadow(5px 5px 10px #ccc);
  -webkit-filter: drop-shadow(5px 5px 10px #ccc);
}

.footer {
  overflow: hidden;
  margin: 5px;  
  font-size: 0.8em;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: black;
  font-weight: bold;
  text-align: justify;
}

.wrapblock {
  white-space: nowrap;
  display: inline-block;
  vertical-align: bottom;
  margin: 5px;
  filter: drop-shadow(5px 5px 10px #ccc);
  -webkit-filter: drop-shadow(5px 5px 10px #ccc); 
}

body {
  background-color: white;
}

button {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

button:hover {
  background-color: #008CBA; /* Blue */
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;  
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

.tablink {
  
}

/* Popup */
.ol-popup {
  position: absolute;
  background-color: white;
  -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  min-width: 280px;
  font-family: Tahoma, 'Helvetica Neue', Helvetica, Arial, sans-serif; 
}
.ol-popup:after, .ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}
.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}
.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}
.ol-popup-closer:after {
  content: "✖";
}
/* End of Popup */

/* switch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switch_text {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  color: black;
  text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
  font-weight: 900;
}

.off_label {
  color: lightgrey;
}

.on_label {
  color: black;
}
/* End of switch */

/* Progress bar */
/* Safari 4.0 - 8.0 */
@-webkit-keyframes transcendcolor {
  from {background-color: lightblue;}
  to {background-color: lightgreen;}
}

/* Standard syntax */
@keyframes transcendcolor {
  from {background-color: lightblue;}
  to {background-color: lightgreen;}
}

@-webkit-keyframes animate-stripes {
   100% { background-position: -100px 0px; }
}

@keyframes animate-stripes {
   100% { background-position: -100px 0px; }
}

@-webkit-keyframes move {
    0% {
       background-position: 0 0;
    }
    100% {
       background-position: 50px 50px;
    }
}
.progress {
  /*
  animation-iteration-count: infinite;
  -webkit-animation-name: transcendcolor;
  -webkit-animation-duration: 2s;
  animation-name: animate-stripes;
  animation-duration: 2s;
  */
  background-color: rgb(43,194,83);
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgba(42, 125, 192, 1)),
    color-stop(1, rgba(86, 145, 240, 1))
   );
  background-image: -moz-linear-gradient(
    center bottom,
    rgb(43,194,83) 37%,
    rgb(84,240,84) 69%
   );
  -webkit-box-shadow: 
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
  -moz-box-shadow: 
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
  box-shadow: 
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
  position: relative;
  -webkit-animation: move animate-stripes 5s linear infinite;
  animation: move animate-stripes 5s linear infinite;  
  white-space: nowrap;
  display: block;
  height: 20px;
  text-align: center;
  transition: width .3s;
  width: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 0.8em;
  color: white;
  text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
  margin: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  float: left;
  vertical-align: bottom;
  filter: drop-shadow(2px 2px 2px #ccc);
  -webkit-filter: drop-shadow(2px 2px 2px #ccc);  
}

.progress > span:after, .animate > span > span {
  content: "";
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  background-image: 
     -webkit-gradient(linear, 0 0, 100% 100%, 
        color-stop(.25, rgba(255, 255, 255, .2)), 
        color-stop(.25, transparent), color-stop(.5, transparent), 
        color-stop(.5, rgba(255, 255, 255, .2)), 
        color-stop(.75, rgba(255, 255, 255, .2)), 
        color-stop(.75, transparent), to(transparent)
     );
  background-image: 
    -moz-linear-gradient(
      -45deg, 
        rgba(255, 255, 255, .2) 25%, 
        transparent 25%, 
        transparent 50%, 
        rgba(255, 255, 255, .2) 50%, 
        rgba(255, 255, 255, .2) 75%, 
        transparent 75%, 
        transparent
     );
  z-index: 1;
  -webkit-background-size: 50px 50px;
  -moz-background-size: 50px 50px;
  -webkit-animation: move 2s linear infinite;
  -webkit-border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius-topright: 8px;
  -moz-border-radius-bottomright: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  -webkit-border-top-left-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -moz-border-radius-topleft: 20px;
  -moz-border-radius-bottomleft: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  overflow: hidden;
}
.switch_container {
  float: left;
}

.wrapper {
  overflow: hidden;
  border-bottom: 1px dotted white;
  padding: 2px;
}

.progress.hide {
  opacity: 0;
  transition: opacity 1.3s;
}
/* End of Progress bar */

body {
  -webkit-transition: all 5s ease;
  transition: all 5s ease;
  background-image: url("wave_tide_title.jpg");
  background-size: 120%;
  background-repeat: repeat;
  background-color: black;
  filter: opacity(0.95);
  -webkit-filter: opacity(0.95);
}

body:hover {
	-webkit-transition: all 300s ease;
	transition: all 300s ease;
	background-size: 200%;
}

.cc_logo {
  background-image: url("https://i.creativecommons.org/l/by/4.0/88x31.png");

  background-size: 100%;
  background-repeat: no-repeat;
  background-color: transparent;
  width: 88px;
  height: 31px;
}
.FOOTER {
	color: white;
	font-family: 'Oswald', sans-serif;
	font-size: 10pt;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li.LINKAGE {
	display: inline;
	margin: 5px;
}

ol {
	display: block;
	list-style-type: decimal;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 0;
	margin-right: 0;
	padding-left: 40px;
}

a {
	color: black;
	font-family: 'Anton', sans-serif;
	font-size: 10pt;
}
